@import "~@ng-select/ng-select/themes/default.theme.css";

.lightblue {
    background-color: lightblue;
}

.lightblue:hover {
    background-color: rgb(63, 197, 241);
    color:white;
}

.gradient {
    background-image: linear-gradient(to right bottom, #002f74, #565c95, #8f8eb7, #c7c5db, #ffffff);
}

.customBorder1 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.customBorder2 {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #f8f9fa;
}

.accordion-button:hover {
    background-color: #f8f9fa;
}

.ng-select.customNGSelect {
    box-shadow: rgba(100, 100, 100, 0.12) 0px 1px 0px, rgba(153, 153, 153, 0.24) 0px 1px 1px;
    background-color: #f8f9fa;
    border-radius: 7px;
    min-height: 38px;
}
.ng-select.customNGSelect .ng-select-container  {    
    box-shadow: rgba(100, 100, 100, 0.12) 0px 1px 0px, rgba(153, 153, 153, 0.24) 0px 1px 1px;        
    background-color: #f8f9fa;
    border-radius: 7px;
    min-height: 38px;
}

.label {
    text-align: center;
}

.alignRight {
    text-align: right;
}
