<app-navbar *ngIf="viewReady" (openCart)="toggleOffCanvas()" (openWishlist)="toggleWishlistOffCanvas()" [showingHome]="true"></app-navbar>


<div *ngIf="viewReady" class="container customBorder1 p-5">
  <div>

  </div>

  <div class="row">
    <div class="col-6">
      <div class="d-flex">
        <h1 class="text-left">{{ game.gameName }}</h1>
        <div class="p-3" (click)="addItemToWishlist(game)">
          <label class="fst-italic pt-1 wishlistURL">
              Add to Wishlist <span><i class="bi bi-calendar2-heart ps-1"></i></span>
          </label>
        </div>
      </div>
      <div>
        <p class="description-box"> {{ game.gameDetails!.description }}</p>
      </div>
      <div class="list-group list-group-flush">
        <div class="list-group-item" style="height: 2.5em;">
          <p>Publisher: {{ game.gameDetails!.publisher }}</p>
        </div>
        <div class="list-group-item" style="height: 2.5em;">
          <p>Genre: {{game.gameDetails?.categoryName}}</p>
        </div>
        <div class="list-group-item" style="height: 3.5em;">
          <div class="platforms-container">
            <span>Platforms: </span>
            <div class="platform-names">
              <span class="pbox" *ngFor="let platform of platformsForGame">{{platform.platformName}}</span>
            </div>
          </div>
        </div>
        <div class="list-group-item" style="height: 2.5em;">
          <p class="">Price: ${{ game.priceInCAD }} CAD</p>
        </div>
      </div>
      <hr>
      <div class="p-3">
          <button class="btn btn-success me-2 left" (click)="addToCart(game)">Add to Cart <span><i class="bi bi-cart2"></i></span></button>
      </div>
    </div>
  
    <div class="col-6" style="margin-top: 4em; text-align: -webkit-center;">
      <div style="width: 75%;"> 
        <img [src]="game.src!" (mouseover)="game.src = game.srcBack"
        (mouseout)="game.src = game.srcFront" style="height: 480px; max-height: 30%; min-height: 50%; padding: 1em; border-radius: 2.5%;"  class="card-img-top customBorder1">
      </div>
    </div>
  </div>

  <!--Game Recommendatiosn component-->
  <div *ngIf="games.length > 0" class="w-100 customBorder1 p-3">
    <div class="p-2 m-1">
      <h1>Game Recommendations</h1>
    </div>
    <div class="justify-content-center">
      <app-game-recommendations [games]="games"></app-game-recommendations>
    </div>
  </div>

  <div>
    <app-offcanvas (updateSignal)="updateNav()" [user]="user!" [games]="games" [gameDetails]="gameDetails" [assets]="assets" [cartItems]="cartItems" [wishlist]="wishlist" #offcanvas></app-offcanvas>
  </div>
</div>






