.game-container {
  display: flex;
  align-items: flex-start; /* Aligns items to the top */
}

.tl {
  margin-top: 50px;
  margin-left: 300px;
}

.gleft{
  margin-left: 300px;
}

img {
  margin-left: 300px;
}

.top{
  margin-top: 100px;
}

.left{
  margin-left: 500px;

}

.top{
  margin-top: 150px;
}

.description-box {
  border: 1px solid #cccccc;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 300px;
  word-wrap: break-word;
  box-sizing: border-box;

}

.pbox{
  background-color: #f0f0f0; /* Light grey background */
  padding: 5px 10px;         /* Top and bottom padding of 5px, left and right padding of 10px */
  margin: 5px;               /* Margin of 5px on all sides */
  border-radius: 5px;        /* Rounded corners */
  display: inline-block;
}

.platforms-container {

  display: flex;
  align-items: center; /* Aligns items vertically center */
}

.platform-names span {
  margin-left: 5px; /* Adds a little space between platform names */
}

.bl{
  margin-left: 50px;
}
