<app-navbar (openCart)="toggleOffCanvas()" [showingHome]="true"></app-navbar>
<div class="container customBorder1" *ngIf="viewReady">
  <div class="row row-cols-3 text-center">
    <div *ngFor="let i of cartItems" class="col pt-2 justify-content-center">
      <div class="card p-2 customBorder2 text-center" style="width: 24rem; overflow: none; min-height: 650px; max-height: 800px; width: 75%; height: 75%;">
          <img [src]="i.game!.src" style="max-height: 30%; min-height: 50%; padding: 1em; border-radius: 2.5%;"  class="card-img-top customBorder1" alt="..." (mouseover)="i.game!.src = i.game!.srcBack"
          (mouseout)="i.game!.src = i.game!.srcFront">
          <div class="card-body pt-2 mt-2 text-white customGameBG" style="border-radius: 2.5%;" >
            <h5 class="card-title text-center">{{i}}</h5>
            <p class="card-text text-center">{{i.game!.gameDetails!.publisher}}</p>
            <div class="text-center">
              <button class="btn btn-success text-center me-2">Remove from Cart <span><i class="bi bi-cart2"></i></span></button>
              <button class="btn gradient border-dark text-white text-center">View Details </button>
            </div>
            <div class="text-center pt-1 m-2">
              <label class="customBorder1 p-1" style="width: 40%; background-color:white; color:black; border-radius: 5%;">
                  C$ {{i.total}}
              </label>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<app-offcanvas (updateSignal)="updateNav()" [user]="user" [games]="games" [gameDetails]="gameDetails" [assets]="assets" [cartItems]="cartItems" [wishlist]="wishlist" #offcanvas></app-offcanvas>