<nav class="navbar sticky-top navbar-expand-lg navbar-dark gradient mb-1">
    <div class="container-fluid justify-content-between row">
        <div class="col-4 nav ms-2">
          <div>
            <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu"><i class="bi bi-justify"></i></button>
          </div>
          <div>
            <li class="nav-item ms-3">
              <button class="btn gradient btn-secondary text-white" [routerLink]="'/home'">CVGS</button>
            </li>
          </div>
          <div *ngIf="showingHome && cart != null && cart.length > 0">
            <button class="btn btn-primary ms-3"(click)="showOffCanvas()"><i class="bi bi-cart3"></i> Cart ({{cart.length}})</button>
          </div>
          <div *ngIf="showingHome && wishlist != null && wishlist.length > 0">
            <button class="btn btn-primary ms-3"(click)="showWishlistOffCanvas()"><i class="bi bi-cart3"></i> Wishlist ({{wishlist.length}})</button>
          </div>
          <div *ngIf="showingHome && cart != null && cart.length > 0">
            <button class="btn btn-warning ms-3" [routerLink]="'/checkout'"><i class="bi bi-bag-check"></i> Checkout</button>
          </div>
        </div>
        <div class="text-center col-4">
            <h2 class="fw-bold fst-italic" style="color: white">The CVGS</h2>
        </div>
        <div class="col-4 float-right">
          <input type="button" class="btn btn-secondary me-3" style="float: right;" value="Logout" (click)="logout()">
          <button class="btn gradient btn-secondary text-white me-3" style="float: right;" [routerLink]="'/admin'">Admin</button>      
          <div *ngIf="showingHome" class="d-flex pe-2">
            <input class="form-control me-2" type="search" #searchValue (keyup)="searchForGames(searchValue.value)" placeholder="Search For Games" aria-label="Search">
          </div>
        </div>
    </div>
  </nav>

<div class="offcanvas offcanvas-start border-top" style="width: 15.7%; position:fixed; margin-top: 3.85em;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasScrollingLabel">
  <div class="overcanvas-header gradientReversed text-white" style="display: flex;">
    <h5 class="ps-4 pt-3">Menu</h5>      
    <button type="button" class="btn-close mt-3 bg-white" style="margin-left: 62%" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body glass">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link wishlistURL" [routerLink]="'/profile'"><i class="bi bi-file-person-fill"></i> Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link wishlistURL" [routerLink]="'/checkout'"><i class="bi bi-bag-check"></i> Checkout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link wishlistURL" (click)="showOffCanvas()"><i class="bi bi-cart3"></i> Cart</a>
      </li>
      <hr>
      <li class="nav-item">
        <a class="nav-link wishlistURL" aria-current="page" [routerLink]="'/home'"><i class="bi bi-house"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link wishlistURL" aria-current="page" (click)="logout()"><i class="bi bi-door-open"></i> Logout</a>
      </li>
    </ul>
  </div>
</div>

  
