<app-navbar *ngIf="viewReady" (openCart)="toggleOffCanvas()" (openWishlist)="toggleWishlistOffCanvas()" (filterVal)="filterGames($event)" [showingHome]="true" [showingSearch]="true"></app-navbar>
<div class="container customBorder1" *ngIf="viewReady">
  <div class="row row-cols-3 text-center">
    <div *ngFor="let i of readyGames" class="col pt-2 justify-content-center">
      <div class="card p-2 customBorder2 text-center" style="width: 24rem; overflow: none; min-height: 650px; max-height: 800px; width: 75%; height: 75%;">
          <img [src]="i.src!" style="max-height: 30%; min-height: 50%; padding: 1em; border-radius: 2.5%;"  class="card-img-top customBorder1" alt="..." (mouseover)="i.src = i.srcBack"
          (mouseout)="i.src = i.srcFront">
          <div class="card-body pt-2 mt-2 text-white customGameBG" style="border-radius: 2.5%;" >
            <h5 class="card-title text-center">{{i.gameName}}</h5>
            <p class="card-text text-center">{{i.gameDetails?.publisher}}</p>
            <div class="text-center">
              <button class="btn btn-success text-center me-2" (click)="addToCart(i)">Add to Cart <span><i class="bi bi-cart2"></i></span></button>
              <button class="btn gradient border-dark text-white text-center gradientBtn" [routerLink]="['/game-details', i.id]">View Details</button>

            </div>
            <div class="text-center pt-1 m-2">
              <label class="customBorder1 p-1" style="width: 40%; background-color:white; color:black; border-radius: 5%;">
                  C$ {{i.priceInCAD.toFixed(2)}}
              </label>
            </div>
            <div class="text-center" (click)="addItemToWishlist(i)">
              <label class="fst-italic pt-1 wishlistURL">
                  Add to Wishlist <span><i class="bi bi-calendar2-heart ps-1"></i></span>
              </label>
            </div>
            <div class="text-center">
              <h1 *ngIf="i.rating! > 0" class="mt-3 {{i.textColor}}">{{i.rating!.toFixed(0)}}%</h1>
              <h5 *ngIf="i.rating! == 0" class="mt-3 fst-italic text-white">No Rating Yet</h5>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div *ngIf="offCanvasReady">
  <app-offcanvas (updateSignal)="updateNav()" [user]="user" [games]="games" [gameDetails]="gameDetails" [assets]="assets" [cartItems]="cartItems" [wishlist]="wishlist"  #offcanvas></app-offcanvas>
</div>



