<app-navbar></app-navbar>

<ng-container *ngIf="viewReady">
        <!--The According Component-->
        <div class="form-group container customBorder1 p-5">

            <div class="row container-fluid">
                <div class="customBorder2 m-5 p-5 col-6" style="width: 30%; min-height: 20em;">
                    <img src="/assets/Default_Profile.png" alt="Logo" style="max-height:100%; max-width:100%;">
                    <p class="text-center mt-5 customBorder2">Welcome, {{user?.username}}</p>
                </div>
                <div class="customBorder2 p-1 ms-5 mt-5 mb-5 me-1 col-6" style="width: 45%; min-height: 20em;">
                    <div class="p-1">
                        <h5 *ngIf="userDetails == null" class="text-center pt-2">{{user?.username}}'s CVGS Member Profile</h5>
                        <h5 *ngIf="userDetails != null" class="text-center pt-2">{{userDetails!.firstName}}'s CVGS Member Profile</h5>
                        <hr>
                        <div class="row text-left pt-2">
                            <div class="col-3 customBorder1 p-1 ms-3 mb-3">
                                <label>Username: </label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" value="{{user?.username}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 customBorder1 p-1 ms-3 mb-3">
                                <label>First Name: </label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control m-1" value="{{firstname}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 customBorder1 p-1 ms-3 mb-3">
                                <label>Last Name: </label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control m-1" value="{{lastname}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 customBorder1 p-1 ms-3 mb-3">
                                <label>Email: </label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control m-1" value="{{email}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 customBorder1 p-1 ms-3 mb-3">
                                <label class="">Email Validated? </label>
                            </div>
                            <div class="col-8">
                                <input type="checkbox" class="form-check-input form-control p-3" [checked]="validated" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="accordion" id="accordionProfileMenu">
                <!--The Friends List-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingZero">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                            Friends & Family
                        </button>
                    </h2>
                    <div id="collapseZero" class="accordion-collapse collapse show" aria-labelledby="headingZero" data-bs-parent="#accordionProfileMenu">
                        <div class="accordion-body">
                            <div>
                                <li class="pb-2 pt-2">
                                    <input type="button" value="Add New Friend" class="btn lightblue btn-sm">
                                </li>
                                <li class="pb-2 pt-2">
                                    <input type="button" value="Pending Friend Requests" class="btn lightblue btn-sm">
                                </li>
                            </div>
                            <div *ngIf="friendsList != null && friendsList.length > 0">
                                <div class="text-left">
                                    <h3>- Friends List</h3>
                                </div>
                                <div *ngFor="let i of friendsList" class="pb-1">
                                    <div class="card customBorder2" style="width: 10rem; max-height: 16rem;">
                                        <div class="card-body">
                                            <div class="row pb-1">
                                                <div  class="col">
                                                    <h5 class="card-title">{{i.user!.username}}</h5>
                                                </div>                                    
                                            </div>
                                            <div class="row pb-2">
                                                <div class="col" style="text-align: -webkit-center;">
                                                    <div style="height:120px; width:80px;">
                                                        <img src='assets/Default_Profile.png' style="height: 100%; width: 100%;" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wishlistURL text-center">
                                                <button class="btn border-dark gradientBtn" id="downloadBtn" >View Their Wishlist</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div *ngIf="friendsList == null || friendsList.length == 0" class="text-center customBorder1 p-5">
                                <h4>
                                    You friends & family list is empty <i class="bi bi-emoji-frown"></i>
                                </h4>
                           </div>
                        </div>
                    </div>
                  </div>
                <!--The Games Items-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Games Library
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionProfileMenu">
                        <div class="accordion-body">
                            <div class="row row-cols-6 text-center pb-2">
                                <div *ngFor="let i of userGames" class="pb-1">
                                    <div class="card customBorder2" style="width: 10rem; max-height: 16rem;">
                                        <div class="card-body">
                                            <div class="row pb-1">
                                                <div  class="col">
                                                    <h5 class="card-title">{{i.game!.gameName}}</h5>
                                                </div>                                    
                                            </div>
                                            <div class="row pb-2">
                                                <div class="col" style="text-align: -webkit-center;">
                                                    <div style="height:120px; width:80px;">
                                                        <img src='assets/game_assets/{{i.game!.gameAsset?.assetURL}}/front.jpg' style="height: 100%; width: 100%;" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wishlistURL text-center">
                                                <a class="btn border-dark gradientBtn" id="downloadBtn" download="{{i.game!.gameName}}" href="data:text/plain;charset=utf-8,{{i.game!.gameName}}" (click)="downloadGame(i)" style="width: 100%;">Download <i class="bi bi-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Profile Items-->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Your Profile
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionProfileMenu">
                    <div class="accordion-body">
                        <ul>
                            <li class="pb-2 pt-2">
                                <input type="button" value="Update Your Profile Information" class="btn lightblue btn-sm" (click)="openUserDetailsModal()">
                            </li>
                            <li class="pb-2 pt-2">
                                <input type="button" value="Profile Preferences" class="btn lightblue btn-sm" (click)="openPreferencesModal()">
                            </li>
                            <li class="pb-2 pt-2">
                                <input type="button" value="Update Your Shipping Address" class="btn lightblue btn-sm" (click)="openAddressModal()">
                            </li>
                            <li class="pb-2 pt-2">
                                <input type="button" value="Change Your Password" class="btn lightblue btn-sm" (click)="openPasswordModal()">
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
                <!--The Games Items-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Order History
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse hide" aria-labelledby="headingThree" data-bs-parent="#accordionProfileMenu">
                        <div class="accordion-body">
                            <ul>
                                <li class="pb-2 pt-2">
                                    <input type="button" value="View Order History" class="btn lightblue btn-sm">
                                </li>
                                <li class="pb-2 pt-2">
                                    <input type="button" value="View Payment Details" class="btn lightblue btn-sm">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</ng-container>

<!--The Change Password Modal-->
<div class="modal fade" #changePasswordModal id="changePasswordModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update your password here</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForms()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="passwordForm" class="form-group container customBorder2 p-5 alignRight">
                <!--Category/Description-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Current Password:</label>
                    </div>
                    <div class="col-8">
                        <input type="password" class="form-control" formControlName="currentPasswordControl" required>
                    </div>
                </div>
                <!--Language-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>New Password:</label>
                    </div>
                    <div class="col-8">
                        <input type="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" class="form-control" formControlName="newPasswordControl" required>
                    </div>
                </div>
                <!--Language-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Verify New Password:</label>
                    </div>
                    <div class="col-8">
                        <input type="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" class="form-control" formControlName="verifyPasswordControl" required>
                    </div>
                </div>
     
            </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForms()">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateCredentials()">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!--The Preferences Modal-->
<div class="modal fade" #preferencesModal id="preferencesModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Preferences</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForms()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="preferencesForm" class="form-group container customBorder2 p-5 alignRight">
                <!--Category/Description-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Game Categories:</label>
                    </div>
                    <div class="col-4">
                        <ng-select [items]="categories" bindLabel="categoryName" bindValue="id" formControlName="categoryControl" class="customNGSelect" [multiple]="true" required></ng-select>
                    </div>
                    <div class="col-2">
                        <label>Platforms:</label>
                    </div>
                    <div class="col-4">
                        <ng-select [items]="platforms" bindLabel="platformName" bindValue="id" formControlName="platformControl" class="customNGSelect" [multiple]="true" required></ng-select>
                    </div>
                </div>
                <!--Language-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Language:</label>
                    </div>
                    <div class="col-10">
                        <ng-select [items]="languages" bindLabel="languageName" bindValue="id" formControlName="languageControl" class="customNGSelect" [multiple]="true" required></ng-select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForms()">Close</button>
          <button type="button" class="btn btn-primary" (click)="updatePreferences()">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!--The Address Modal-->
<div class="modal fade" #addressModal id="addressModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mailing Address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForms()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addressForm" class="form-group container customBorder2 p-5 alignRight">
                <!--City/Country-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Country:</label>
                    </div>
                    <div class="col-4">
                        <ng-select formControlName="countryControl" [items]="countries" bindLabel="countryName" bindValue="id" class="customNGSelect">
                        </ng-select>
                    </div>
                    <div class="col-2">
                        <label>City:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="cityControl" class="form-control customBorder2" required>
                    </div>
                </div>
                <!--Province/Postal Code-->
                <div class="row py-3" *ngIf="addressForm.controls['countryControl'].value == canada_ID">
                    <div class="col-2">
                        <label>Province:</label>
                    </div>
                    <div class="col-4">
                        <ng-select formControlName="provinceControl" [items]="provinces" [bindLabel]="'provinceName'" [bindValue]="'id'" class="customNGSelect">
                        </ng-select>
                    </div>
                    <div class="col-2">
                        <label>Postal Code:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="postalCodeControl" pattern="^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$" class="form-control customBorder2">
                    </div>
                </div>
                <!--Phone Number-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Phone Number:</label>
                    </div>
                    <div class="col-10">
                        <input type="text" formControlName="phoneNumberControl" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$" class="form-control customBorder2" required>
                    </div>
                </div>
                <!--Street Address-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Street Address:</label>
                    </div>
                    <div class="col-10">
                        <input type="text" formControlName="streetAddressControl" class="form-control customBorder2" required>
                    </div>
                </div>
                <div class="row py-3r" *ngIf="!showShippingAddress">
                    <div class="col-8">
                        <label>Is Shipping Address Same as Mailing Address?</label>
                    </div>
                    <div class="col-4">
                        <input type="checkbox" class="form-check-input form-control p-3" formControlName="shippingAddressControl">
                    </div>
                </div>
                <!--Delivery Instructions-->
                <div class="row py-3r" *ngIf="showShippingAddress">
                    <div class="col-2">
                        <label>Delivery Instructions:</label>
                    </div>
                    <div class="col-10">
                        <textarea rows="3" class="form-control customBorder2" placeholder="Enter Instructions Here" formControlName="instructionsControl"></textarea>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <input *ngIf="doesAddressExist && !showShippingAddress" type="button" class="btn btn-danger" value="Delete Address"  (click)="deleteAddress()">
                </div>
            </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForms()">Close</button>
          <button *ngIf="!doesAddressExist" type="button" class="btn btn-primary" (click)="insertShippingAddress()">Submit Address</button>
          <button *ngIf="doesAddressExist" type="button" class="btn btn-primary" (click)="updateShippingAddress()">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!--The UserDetails Modal-->
<div class="modal fade" #userDetailsModal id="userDetailsModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update your Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForms()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="userDetailsForm" class="form-group container customBorder2 p-5 alignRight">
                <!--First/Last Name-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>First Name:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="firstNameControl" class="form-control customBorder2" required>
                    </div>
                    <div class="col-2">
                        <label>Last Name:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="lastNameControl" class="form-control customBorder2" required>
                    </div>
                </div>
                <!--Gender/Birth Date-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Gender:</label>
                    </div>
                    <div class="col-4">
                        <select formControlName="genderControl" class="form-control customBorder2">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>Birth Date:</label>
                    </div>
                    <div class="col-4">
                        <input type="date" formControlName="birthDateControl" class="form-control customBorder2" required>
                    </div>
                </div>
                <!--Email Updates-->
                <div class="row py-3">
                    <div class="col-10">
                        <label>Would you like to recieve exclusive information such as discounts and special releases via email?</label>
                    </div>
                    <div class="col-2">
                        <input type="checkbox" formControlName="emailUpdatesControl" class="form-control form-check-input" required>
                    </div>
                </div>
           </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForms()">Close</button>
          <button *ngIf="doUserDetailsExist" type="button" class="btn btn-primary" (click)="updateUserDetails()">Save changes</button>
          <button *ngIf="!doUserDetailsExist" type="button" class="btn btn-primary" (click)="insertUserDetails()">Save changes</button>
        </div>
      </div>
    </div>
</div>
