<app-navbar></app-navbar>

<ng-container >
        <!--The According Component-->
        <div class="form-group container customBorder1 p-5">

            <div class="row container-fluid">
                <div class="customBorder2 m-5 p-5 col-6" style="width: 30%; min-height: 20em;">
                    <img src="/assets/Default_Profile.png" alt="Logo" style="max-height:100%; max-width:100%;">
                    <p class="text-center mt-5 customBorder2">Welcome, {{user?.username}}</p>
                </div>
                <div class="customBorder2 p-1 ms-5 mt-5 mb-5 me-1 col-6" style="width: 45%; min-height: 20em;">
                    <div class="p-1">
                        <h5 class="text-center pt-2">Welcome to your CVGS Member Profile!</h5>
                        <hr>
                        <div class="row text-left pt-2">
                            <div class="col-3 customBorder1 p-1 ms-3 mb-3">
                                <label>Username: </label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" value="{{user?.username}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 customBorder1 p-1 ms-3 mb-3">
                                <label>First Name: </label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control m-1" value="{{firstname}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 customBorder1 p-1 ms-3 mb-3">
                                <label>Last Name: </label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control m-1" value="{{lastname}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 customBorder1 p-1 ms-3 mb-3">
                                <label>Email: </label>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control m-1" value="{{email}}" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 customBorder1 p-1 ms-3 mb-3">
                                <label class="">Email Validated? </label>
                            </div>
                            <div class="col-8">
                                <input type="checkbox" class="form-check-input form-control p-3" [checked]="validated" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="accordion" id="accordionExample">
                <!--The Games Items-->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Your User Details
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li class="pb-2 pt-2">
                                <input type="button" value="Manage User Details" class="btn lightblue btn-sm" (click)="openUserDetailsModal()">
                            </li>
                            <li class="pb-2 pt-2">
                                <input type="button" value="My Preferences" class="btn lightblue btn-sm" (click)="openPreferencesModal()">
                            </li>
                            <li class="pb-2 pt-2">
                                <input type="button" value="Manage Address" class="btn lightblue btn-sm" (click)="openAddressModal()">
                            </li>
                            <li class="pb-2 pt-2">
                                <input type="button" value="Change Password" class="btn lightblue btn-sm" (click)="openPasswordModal()">
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
</ng-container>

<!--The Change Password Modal-->
<div class="modal fade" #changePasswordModal id="changePasswordModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update your password here</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForms()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="passwordForm" class="form-group container customBorder2 p-5 alignRight">
                <!--Category/Description-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Current Password:</label>
                    </div>
                    <div class="col-8">
                        <input type="password" class="form-control" formControlName="currentPasswordControl" required>
                    </div>
                </div>
                <!--Language-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>New Password:</label>
                    </div>
                    <div class="col-8">
                        <input type="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" class="form-control" formControlName="newPasswordControl" required>
                    </div>
                </div>
                <!--Language-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Verify New Password:</label>
                    </div>
                    <div class="col-8">
                        <input type="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" class="form-control" formControlName="verifyPasswordControl" required>
                    </div>
                </div>
     
            </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForms()">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateCredentials()">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!--The Preferences Modal-->
<div class="modal fade" #preferencesModal id="preferencesModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Preferences</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForms()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="preferencesForm" class="form-group container customBorder2 p-5 alignRight">
                <!--Category/Description-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Game Categories:</label>
                    </div>
                    <div class="col-4">
                        <ng-select [items]="categories" bindLabel="categoryName" bindValue="id" formControlName="categoryControl" class="customNGSelect" [multiple]="true" required></ng-select>
                    </div>
                    <div class="col-2">
                        <label>Platforms:</label>
                    </div>
                    <div class="col-4">
                        <ng-select [items]="platforms" bindLabel="platformName" bindValue="id" formControlName="platformControl" class="customNGSelect" [multiple]="true" required></ng-select>
                    </div>
                </div>
                <!--Language-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Language:</label>
                    </div>
                    <div class="col-10">
                        <ng-select [items]="languages" bindLabel="languageName" bindValue="id" formControlName="languageControl" class="customNGSelect" [multiple]="true" required></ng-select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForms()">Close</button>
          <button type="button" class="btn btn-primary" (click)="updatePreferences()">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!--The Address Modal-->
<div class="modal fade" #addressModal id="addressModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mailing Address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForms()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addressForm" class="form-group container customBorder2 p-5 alignRight">
                <!--City/Country-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Country:</label>
                    </div>
                    <div class="col-4">
                        <ng-select formControlName="countryControl" [items]="countries" bindLabel="countryName" bindValue="id" class="customNGSelect">
                        </ng-select>
                    </div>
                    <div class="col-2">
                        <label>City:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="cityControl" class="form-control customBorder2" required>
                    </div>
                </div>
                <!--Province/Postal Code-->
                <div class="row py-3" *ngIf="addressForm.controls['countryControl'].value == canada_ID">
                    <div class="col-2">
                        <label>Province:</label>
                    </div>
                    <div class="col-4">
                        <ng-select formControlName="provinceControl" [items]="provinces" [bindLabel]="'provinceName'" [bindValue]="'id'" class="customNGSelect">
                        </ng-select>
                    </div>
                    <div class="col-2">
                        <label>Postal Code:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="postalCodeControl" pattern="^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$" class="form-control customBorder2">
                    </div>
                </div>
                <!--Phone Number-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Phone Number:</label>
                    </div>
                    <div class="col-10">
                        <input type="text" formControlName="phoneNumberControl" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$" class="form-control customBorder2" required>
                    </div>
                </div>
                <!--Street Address-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Street Address:</label>
                    </div>
                    <div class="col-10">
                        <input type="text" formControlName="streetAddressControl" class="form-control customBorder2" required>
                    </div>
                </div>
                <div class="row py-3r" *ngIf="!showShippingAddress">
                    <div class="col-8">
                        <label>Is Shipping Address Same as Mailing Address?</label>
                    </div>
                    <div class="col-4">
                        <input type="checkbox" class="form-check-input form-control p-3" formControlName="shippingAddressControl">
                    </div>
                </div>
                <!--Delivery Instructions-->
                <div class="row py-3r" *ngIf="showShippingAddress">
                    <div class="col-2">
                        <label>Delivery Instructions:</label>
                    </div>
                    <div class="col-10">
                        <textarea rows="3" class="form-control customBorder2" placeholder="Enter Instructions Here" formControlName="instructionsControl"></textarea>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <input *ngIf="doesAddressExist && !showShippingAddress" type="button" class="btn btn-danger" value="Delete Address"  (click)="deleteAddress()">
                </div>
            </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForms()">Close</button>
          <button *ngIf="!doesAddressExist" type="button" class="btn btn-primary" (click)="insertShippingAddress()">Submit Address</button>
          <button *ngIf="doesAddressExist" type="button" class="btn btn-primary" (click)="updateShippingAddress()">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!--The UserDetails Modal-->
<div class="modal fade" #userDetailsModal id="userDetailsModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Your Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForms()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="userDetailsForm" class="form-group container customBorder2 p-5 alignRight">
                <!--First/Last Name-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>First Name:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="firstNameControl" class="form-control customBorder2" required>
                    </div>
                    <div class="col-2">
                        <label>Last Name:</label>
                    </div>
                    <div class="col-4">
                        <input type="text" formControlName="lastNameControl" class="form-control customBorder2" required>
                    </div>
                </div>
                <!--Gender/Birth Date-->
                <div class="row py-3">
                    <div class="col-2">
                        <label>Gender:</label>
                    </div>
                    <div class="col-4">
                        <select formControlName="genderControl" class="form-control customBorder2">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>Birth Date:</label>
                    </div>
                    <div class="col-4">
                        <input type="date" formControlName="birthDateControl" class="form-control customBorder2" required>
                    </div>
                </div>
                <!--Email Updates-->
                <div class="row py-3">
                    <div class="col-10">
                        <label>Would you like to recieve exclusive information such as discounts and special releases via email?</label>
                    </div>
                    <div class="col-2">
                        <input type="checkbox" formControlName="emailUpdatesControl" class="form-control form-check-input" required>
                    </div>
                </div>
           </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForms()">Close</button>
          <button *ngIf="doUserDetailsExist" type="button" class="btn btn-primary" (click)="updateUserDetails()">Save changes</button>
          <button *ngIf="!doUserDetailsExist" type="button" class="btn btn-primary" (click)="insertUserDetails()">Save changes</button>
        </div>
      </div>
    </div>
</div>
