<app-navbar></app-navbar>
<ng-container >
    <div class="form-group container customBorder1 p-5">
        <div class="text-left w-10">
            <p class="bg-light rounded fs-2 fst-italic w-10">Administration Functions <span class="pe-2" style="float: right;">CVGS Employees</span></p>
        </div>

        <!--The According Component-->
        <div class="row">
            <div class="accordion" id="accordionExample">
                <!--The Games Items-->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Games
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li class="pb-2 pt-2">
                                <input type="button" value="Add Game" class="btn lightblue btn-sm" (click)="openGamesModal('Add')">
                            </li>
                            <li class="pb-2">
                                <input type="button" value="Edit Game" class="btn lightblue btn-sm" (click)="openGamesModal('Edit')">
                            </li>

                        </ul>
                    </div>
                  </div>
                </div>
                 <!--The Reviews Items-->               
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Reviews
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <li class="pb-2 pt-2">
                            <input type="button" value="Review Game Reviews" class="btn lightblue btn-sm" data-bs-toggle="modal" data-bs-target="#reviewsModal" (click)="clearReviewsModal()">
                        </li>                    
                    </div>
                  </div>
                </div>
                <!--The Events Items-->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Events
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <li class="pb-2 pt-2">
                            <input type="button" value="Add Event" class="btn lightblue btn-sm" (click)="openEventsModal('Add')">
                        </li>
                        <li class="pb-2">
                            <input type="button" value="Edit Events" class="btn lightblue btn-sm" (click)="openEventsModal('Edit')">
                        </li>                    
                    </div>
                  </div>
                </div>
                <!--The Reports Items-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Download / View Reports
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <li class="pb-2 pt-2">
                                <input type="button" value="Game List Report" class="btn lightblue btn-sm" data-bs-toggle="modal" data-bs-target="#gameReportModal">
                            </li>
                            <li class="pb-2">
                                <input type="button" value="Game Detail Report" class="btn lightblue btn-sm" data-bs-toggle="modal" data-bs-target="#gameDetailsReportModal">
                            </li>
                            <li class="pb-2">
                                <input type="button" value="Member List Report" class="btn lightblue btn-sm" data-bs-toggle="modal" data-bs-target="#usersReportModal">
                            </li>
                            <li class="pb-2">
                                <input type="button" value="Member Details Report" class="btn lightblue btn-sm" data-bs-toggle="modal" data-bs-target="#userDetailsReportModal">
                            </li>
                            <li class="pb-2">
                                <input type="button" value="Wish List Report" class="btn lightblue btn-sm" data-bs-toggle="modal" data-bs-target="#wishlistReportModal">
                            </li>
                            <li class="pb-2">
                                <input type="button" value="Sales Report" class="btn lightblue btn-sm" data-bs-toggle="modal" data-bs-target="#salesReportModal">
                            </li>                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</ng-container>

<!--The Games Modal-->
<div class="modal fade" #gamesModal id="gamesModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{gameOperation}} Games</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForms()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="gamesForm" class="alignRight">
                <div class="form-group p-5">
                    <!--Name/Publisher-->
                    <div class="row py-3">
                        <div class="col-2">
                            <label>Game Name:</label>
                        </div>
                        <div class="col-4" *ngIf="gameOperation == 'Edit'">
                            <ng-select type="text" [items]="games" bindLabel="gameName" bindValue="id" formControlName="gameNameControl" #gameItem class="customNGSelect" (change)="updateGamesForm()" required></ng-select>
                        </div>
                        <div class="col-4" *ngIf="gameOperation == 'Add'">
                            <input type="text" formControlName="gameNameControl" class="form-control customBorder2" required>
                        </div>
                        <div class="col-2">
                            <label>Publisher:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" formControlName="publisherControl" class="form-control customBorder2" required>
                        </div>
                    </div>
                    <!--Category/Assets-->
                    <div class="row py-3">
                        <div class="col-2">
                            <label>Category:</label>
                        </div>
                        <div class="col-4">
                            <select formControlName="categoryControl" class="form-control customBorder2" required>
                                <option *ngFor="let i of gameCategories" [value]="i.id">{{i.categoryName}}</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label>Assets:</label>
                        </div>
                        <div class="col-4">
                            <select formControlName="assetControl" class="form-control customBorder2" required>
                                <option *ngFor="let i of assets" [value]="i.id">{{i.assetName}}</option>
                            </select>
                        </div>
                    </div>
                    <!--Price/Platforms-->
                    <div class="row py-3">
                        <div class="col-2">
                            <label>Price:</label>
                        </div>
                        <div class="col-4">
                            <input type="number" formControlName="priceControl" class="form-control customBorder2" required>
                        </div>
                        <div class="col-2">
                            <label>Platforms:</label>
                        </div>
                        <div class="col-4">
                            <ng-select [items]="platforms" bindLabel="platformName" bindValue="id" formControlName="platformControl" class="customNGSelect" [multiple]="true" required></ng-select>
                        </div>
                    </div>
                    <!--Description-->
                    <div class="row py-3">
                        <div class="col-2">
                            <label>Description:</label>
                        </div>
                        <div class="col-10">
                            <textarea rows="3" formControlName="descriptionControl" class="form-control customBorder2" required></textarea>
                        </div>
                    </div>
                    <hr>
                    <div *ngIf="gameOperation == 'Edit'" class="text-center pt-5">
                        <button type="button" class="btn btn-danger" (click)="deleteGame()">Delete Game</button>
                    </div>
               </div>
            </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForms()">Close</button>
          <button type="button" *ngIf="gameOperation == 'Add'"  class="btn btn-primary" (click)="insertGame()">Save changes</button>
          <button type="button" *ngIf="gameOperation == 'Edit'"  class="btn btn-primary" (click)="updateGame()">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!--The Reviews Modal-->
<div class="modal fade" #reviewsModal id="reviewsModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Game Reviews</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForms()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="reviewsForm" class="alignRight">
                <div class="form-group container p-5">
                     <!--Review Selector-->
                     <div class="row py-3">
                        <div class="col-2">
                            <label>Select Review:</label>
                        </div>
                        <div class="col-10">
                            <select formControlName="reviewsListControl" #option class="form-control customBorder2" (input)="updateReviewsForm(option.value)">
                                <option *ngFor="let i of reviewsList"  [value]="i.id">{{i.review_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-center fst-italic customBorder2" *ngIf="approved">
                        <h4>Review Status: Approved</h4>
                    </div>
                    <!--Game/Rating-->
                    <div class="row py-3">
                        <div class="col-2">
                            <label>Game:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" formControlName="gameControl" class="form-control customBorder2">
                        </div>
                        <div class="col-2">
                            <label>Rating:</label>
                        </div>
                        <div class="col-4">
                            <input type="number" formControlName="ratingControl" class="form-control customBorder2">
                        </div>
                    </div>
                    <!--Description-->
                    <div class="row py-3">
                        <div class="col-2">
                            <label>Description:</label>
                        </div>
                        <div class="col-10">
                            <textarea rows="3" formControlName="descriptionControl" class="form-control customBorder2"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <input type="button" class="btn btn-success" formControlName="approveControl" (click)="updateReview(true)">
                        </div>
                        <div class="col" style="text-align: left;">
                            <input type="button" class="btn btn-danger" formControlName="rejectControl" (click)="updateReview(false)">
                        </div>
                    </div>
               </div>
            </form>
        </div>

      </div>
    </div>
</div>

<!--The Events Modal-->
<div class="modal fade" #eventsModal id="eventsModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{eventOperation}} Events</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForms()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="eventsForm" class="alignRight">
                <div class="form-group container p-5">
                    <!--Event Selector-->
                    <div class="row py-3" *ngIf="eventOperation == 'Edit'">
                        <div class="col-2">
                            <label>Select Event:</label>
                        </div>
                        <div class="col-10">
                            <select formControlName="eventsListControl" #events class="form-control customBorder2" (input)="updateEventsForm(events.value)">
                                <option *ngFor="let i of eventList" [value]="i.id">{{i.eventName}}</option>
                            </select>
                        </div>
                    </div>
                    <!--Event Name-->
                    <div class="row py-3">
                        <div class="col-2">
                            <label>Event Name:</label>
                        </div>
                        <div class="col-10">
                            <input type="text" formControlName="eventNameControl" class="form-control customBorder2" required>
                        </div>
                    </div>
                    <!--Description-->
                    <div class="row py-3">
                        <div class="col-2">
                            <label>Description:</label>
                        </div>
                        <div class="col-10">
                            <textarea rows="3" formControlName="descriptionControl" class="form-control customBorder2" required></textarea>
                        </div>
                    </div>
                    <!--Start/End Dates-->
                    <div class="row py-3">
                        <div class="col-2">
                            <label>Start Date:</label>
                        </div>
                        <div class="col-4">
                            <input type="date" formControlName="startDateControl" class="form-control customBorder2" required>
                        </div>
                        <div class="col-2">
                            <label>End Date:</label>
                        </div>
                        <div class="col-4">
                            <input type="date" formControlName="endDateControl" class="form-control customBorder2" required>
                        </div>
                    </div>
               </div>
            </form>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForms()">Close</button>
          <button *ngIf="eventOperation == 'Edit'" type="button" class="btn btn-primary" (click)="updateEvent()">Save changes</button>
          <button *ngIf="eventOperation == 'Add'" type="button" class="btn btn-primary" (click)="insertEvent()">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!--List of All Members Modal-->
<div class="modal modal-xl fade" #usersReportModal id="usersReportModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">All Members Report Kiosk</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex">
            <iframe role="presentation" width="1200" height="800" src="https://app.powerbi.com/rdlEmbed?reportId=25b3c2ce-aa09-4ddf-a005-5bdeb90f5daa&autoAuth=true&ctid=4ddd393a-e98a-4404-841f-c4becdd925a5&experience=power-bi" frameborder="0" allowFullScreen="true"></iframe>        </div>
      </div>
    </div>
</div>

<div class="modal modal-xl fade" #userDetailsReportModal id="userDetailsReportModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">All Member Details Report Kiosk</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex">
            <iframe role="presentation" width="1200" height="800" src="https://app.powerbi.com/rdlEmbed?reportId=7ed7f746-193f-44a5-90fe-df115e572ecf&autoAuth=true&ctid=4ddd393a-e98a-4404-841f-c4becdd925a5&experience=power-bi" frameborder="0" allowFullScreen="true"></iframe>        </div>
      </div>
    </div>
</div>

<div class="modal modal-xl fade" #wishlistReportModal id="wishlistReportModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Wish List Report Kiosk</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex">
            <iframe role="presentation" width="1200" height="800" src="https://app.powerbi.com/rdlEmbed?reportId=31a045f4-7f4a-491c-a50d-d0d504bf2b39&autoAuth=true&ctid=4ddd393a-e98a-4404-841f-c4becdd925a5&experience=power-bi" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
</div>

<div class="modal modal-xl fade" #salesReportModal id="salesReportModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Sales List Report Kiosk</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex">
            <iframe role="presentation" width="1200" height="800" src="https://app.powerbi.com/rdlEmbed?reportId=6f2dfc7b-a6ca-452c-9907-d9ef8417c856&autoAuth=true&ctid=4ddd393a-e98a-4404-841f-c4becdd925a5&experience=power-bi" frameborder="0" allowFullScreen="true"></iframe>        </div>
      </div>
    </div>
</div>

<div class="modal modal-xl fade" #gameReportModal id="gameReportModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Games List Report Kiosk</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex">
            <iframe role="presentation" width="1200" height="800" src="https://app.powerbi.com/rdlEmbed?reportId=5f6f5aae-0471-4d67-bcf1-a5829d9f9ce2&autoAuth=true&ctid=4ddd393a-e98a-4404-841f-c4becdd925a5&experience=power-bi" frameborder="0" allowFullScreen="true"></iframe>        </div>
      </div>
    </div>
</div>

<div class="modal modal-xl fade" #gameDetailsReportModal id="gameDetailsReportModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Game Details List Report Kiosk</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex">
            <iframe role="presentation" width="1200" height="800" src="https://app.powerbi.com/rdlEmbed?reportId=7ed7f746-193f-44a5-90fe-df115e572ecf&autoAuth=true&ctid=4ddd393a-e98a-4404-841f-c4becdd925a5&experience=power-bi" frameborder="0" allowFullScreen="true"></iframe>        </div>
      </div>
    </div>
</div>



